#view_window{
    position: relative;
    height: calc( 100% - var(--nav_height));
    overflow: hidden;
    border-radius: var(--radius_me);
    background-color: var(--surface);

    transition: background-color 2s;
}

#floating_menu_wrapper{
    position: absolute;
    z-index: 1;
    inset: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    color: var(--gray_shade);
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;

    transition: opacity 1s, visibility 1s;
}

#floating_menu_wrapper.open{
    opacity: 1;
    visibility: visible;
}

#floating_menu_wrapper > div{
    position: relative;
    height: 60%;
    width: 50%;
    border-radius: calc(var(--radius_lg) - 0.5rem);
    background-color: var(--gray_tint);
    box-sizing: border-box;
    padding: 2rem;
    display: grid;
    align-content: center;
    row-gap: 2rem;
    box-shadow: 0 0 0.5rem 0.5rem var(--gray_tint);
}

.menu_external_links_wrapper > div:nth-child(1){
    text-align: center;
}

.menu_external_links_wrapper > div:nth-child(2){
    margin-top: 0.3rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.menu_external_links_wrapper > div:nth-child(2) > a{
    color: var(--gray_shade);
    border: solid 1px transparent;
}

.menu_external_links_wrapper > div:nth-child(2) > a::before{
    background-color: var(--gray_shade);
}

.menu_external_links_wrapper > div:nth-child(2) > a:hover,
.menu_external_links_wrapper > div:nth-child(2) > a:focus{
    color: var(--gray_tint);
}

#copyright{
    position: absolute;
    transform-style: preserve-3d;
    bottom: 2.2rem;
    left: 0;
    right: 0;
}

#copyright::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(-1px);
    width: 90%;
    height: 7px;
    background-color: var(--gray_shade);
    border-radius: 100%;
    opacity: 0.2;
}

#copyright::after{
    position: absolute;
    content: attr(data-txt);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 0.8rem;
    background-color: var(--gray_tint);
    padding: 0 1rem;
}

#view_wrapper{
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 3px;
    display: flex;
    flex-flow: row nowrap;
    transform: translateY(100%);

    transition: transform 1s;
}

#view_wrapper.loaded{
    transform: translateY(0%);
}

#view_window > svg:nth-child(1){
    background-color: var(--surface);
}

#view_wrapper > div{
    flex: 1 0 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

/*OPTIMIZATION FOR TALL ASPECT RATIOS WITH MEDIUM SCREEN SIZES ||  TABLETS */
@media only screen and (max-width: 1000px)
{

    #floating_menu_wrapper > div{
        width: 90%;
    }

}


/*OPTIMIZATION FOR TALL ASPECT RATIOS WITH SMALL SCREEN SIZES ||  LAPTOPS */
@media only screen and (max-width: 450px)
{

    #view_window{
        border-radius: 0 0 var(--radius_me) var(--radius_me);
    }

    #floating_menu_wrapper > div{
        height: 80%;
        width: 90%;
    }

    #copyright::after{
        width: 70%;
        padding: 0;
    }

}