#my_services_wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#my_services_wrapper > div{
    flex: 0 0 auto;
    width: 100%;
}

#my_services_wrapper{
    box-sizing: border-box;
    padding: 3rem 0;
}

#my_services_wrapper > div > div:nth-child(1){
    padding: 0 5%;
}

#service_cards_wrapper{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 2rem;
}

#service_cards_wrapper > div{
    flex: 0 0 100%;
    padding: 2rem 4%;
}

#service_cards_wrapper > div:nth-child(odd){
    position: relative
}

#service_cards_wrapper > div:nth-child(odd)::before{
    position: absolute;
    z-index: -1;
    content: "";
    inset: 0;
    opacity: 0.3;
    background-color: var(--base);
}

.service_type_wrapper{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 300px));
    justify-content: center;
    grid-auto-rows: 1fr; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}

/*OPTIMIZATION FOR TALL ASPECT RATIOS WITH MEDIUM SCREEN SIZES ||  TABLETS */
@media only screen and (max-width: 1000px)
{

    

}


/*OPTIMIZATION FOR TALL ASPECT RATIOS WITH SMALL SCREEN SIZES ||  LAPTOPS */
@media only screen and (max-width: 450px)
{

    #my_services_wrapper{
        padding: 1rem 0;
    }

}