#my_projects_wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#my_projects_wrapper > div{
    flex: 0 0 auto;
    width: 100%;
}

#my_projects_intro{
    box-sizing: border-box;
    padding: 3rem 0;
}

#my_projects_intro > div:nth-child(1){
    padding: 0 5%;
}

#my_projects_intro > div:nth-child(2){
    padding: 2rem 5% 0 5%;
}

#project_cards_wrapper{
    position: relative;
    height: 35rem;
}

#project_cards_wrapper > button{
    position: absolute;
    z-index: 10;
    top: 40%;
    transform: translateY(-50%);
    height: var(--std_button_dimen);
    width: var(--std_button_dimen);
    color: var(--theme_shade);
    background-color: var(--gray_tint);
    font-size: 1.2rem;
    border-radius: 100%;
    box-shadow: 0 0 0.5rem 0 var(--gray_tint);

    display: grid;
    place-items: center;

    transition: background-color 0.5s;
}

#project_cards_wrapper > button:hover,
#project_cards_wrapper > button:focus{
    background-color: var(--theme_tint);
}

#prev_project_btn{
    left: 20%;
}

#next_project_btn{
    right: 20%;
}

#cards_carousel{
    --focused_card_width: calc(var(--max_unit_width) * 1.2);
    --unfocused_height_offset: 300%;
    --unfocused_X_right_offset: 100%;
    --unfocused_X_left_offset: calc((var(--unfocused_X_right_offset) * -1 - 100%));

    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: #EEEEEE66; */
}

#cards_carousel > div{
    position: absolute;
    top: 4rem;
    left: 50%;
    height: calc(var(--std_button_dimen) * 3);
    width: calc(var(--std_button_dimen) * 2.5);
    opacity: 0;
    border-radius: var(--radius_lg);

    transition: 1s;
    will-change: transform, z-index;
}

.focused_card{
    opacity: 1 !important;
    z-index: 2;
    transform: translateX(-50%);
    height: calc(var(--max_unit_width) / 1.2) !important;
    width: var(--focused_card_width) !important;
    background-color: var(--theme_shade);
}

.right1_card,
.left1_card{
    z-index: 1;
    opacity: 1 !important;
    background-color: var(--theme);
}

.right2_card,
.left2_card{
    z-index: 1;
    opacity: 1 !important;
    background-color: var(--theme_tint);
}

.right1_card{ transform: translateY(var(--unfocused_height_offset)) translateX(var(--unfocused_X_right_offset)) !important; }
.right2_card{ transform: translateY(var(--unfocused_height_offset)) translateX(calc(var(--unfocused_X_right_offset) + (110% * 1))) !important; }
.right3_card{ transform: translateY(var(--unfocused_height_offset)) translateX(calc(var(--unfocused_X_right_offset) + (110% * 2))) !important; }

.left1_card{ transform: translateY(var(--unfocused_height_offset)) translateX(var(--unfocused_X_left_offset)) !important; }
.left2_card{ transform: translateY(var(--unfocused_height_offset)) translateX(calc(var(--unfocused_X_left_offset) - (110% * 1))) !important; }
.left3_card{ transform: translateY(var(--unfocused_height_offset)) translateX(calc(var(--unfocused_X_left_offset) - (110% * 2))) !important; }

/*OPTIMIZATION FOR TALL ASPECT RATIOS WITH MEDIUM SCREEN SIZES ||  TABLETS */
@media only screen and (max-width: 1000px)
{

    #prev_project_btn{
        left: 0;
    }
    
    #next_project_btn{
        right: 0;
    }

    #project_cards_wrapper{
        height: 30rem;
    }

    #cards_carousel{
        --unfocused_height_offset: 240%;
        --unfocused_X_right_offset: 30%;
    }

}


/*OPTIMIZATION FOR TALL ASPECT RATIOS WITH SMALL SCREEN SIZES ||  LAPTOPS */
@media only screen and (max-width: 450px)
{

    #my_projects_intro{
        padding: 1rem 0;
    }
    
    #my_projects_intro > div:nth-child(2){
        padding: 2rem 2% 0 2%;
    }

    #project_cards_wrapper{
        height: 34rem;
    }

    #cards_carousel{
        --unfocused_height_offset: 280%;
        --unfocused_X_right_offset: 30%;
    }

    .focused_card{
        height: calc(var(--max_unit_width)) !important;
        width: calc(var(--max_unit_width) / 1.3) !important;
    }

}