.project_card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project_card::before{
    position: absolute;
    z-index: 1;
    content: "";
    inset: 0;
    border-radius: inherit;
    background-color: #000;
    opacity: 0.6;

    transition: opacity 0.5s;
}

.project_card.focused_card::before{
    opacity: 0;
}

.project_title{
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%) translateY(200%);
    width: var(--focused_card_width);
    white-space: wrap;
    text-align: center;
    font-family: gabarito-mid;
    opacity: 0;

    transition: opacity ease-in-out 0.5s, transform ease-in-out 0.5s;
}

.project_card.focused_card > .project_title{
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    transition-delay: 0.5s;
}

.project_img{
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: inherit;
    background-size: 0 0;
}

.project_img::before{
    position: absolute;
    content: '';
    inset: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: filter 0.5s, transform 0.5s;
}

.project_card.focused_card:hover > .project_img::before,
.project_card.focused_card:focus > .project_img::before{
    transform: scale(1.1);
}

.project_card:not(.focused_card) > .project_img::before{
    filter: grayscale(95%);
}

.project_card:not(.focused_card):hover > .project_img::before,
.project_card:not(.focused_card):focus > .project_img::before{
    filter: grayscale(0);
}

.project_address{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: calc(var(--min_unit) * 1.1);
    width: calc(var(--min_unit) * 1.1);
    border-radius: 0 0 0 1.5rem;
    color: var(--theme);
    font-size: 0.9em;
    background-color: var(--accent_tint);
    box-shadow: -0.3rem 0.3rem 0 0.3rem var(--theme);
    visibility: hidden;
    opacity: 0;

    display: grid;
    place-items: center;

    transition: background-color 0.5s, color 0.5s, visibility 0.5s, opacity 0.5s;
}

.project_card.focused_card > .project_address{
    visibility: visible;
    opacity: 1;
}

.project_address:hover,
.project_address:focus{
    background-color: var(--txt);
    color: var(--theme);
}

/*OPTIMIZATION FOR TALL ASPECT RATIOS WITH MEDIUM SCREEN SIZES ||  TABLETS */
@media only screen and (max-width: 1000px)
{

    

}


/*OPTIMIZATION FOR TALL ASPECT RATIOS WITH SMALL SCREEN SIZES ||  LAPTOPS */
@media only screen and (max-width: 450px)
{

    .project_title{
        width: calc(var(--max_unit));
    }

}