#my_projects_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#my_projects_wrapper > div {
  flex: 0 0 auto;
  width: 100%;
}

#my_projects_intro {
  box-sizing: border-box;
  padding: 3rem 0;
}

#my_projects_intro > div:nth-child(1) {
  padding: 0 5%;
}

#my_projects_intro > div:nth-child(2) {
  padding: 4rem 5% 0 5%;
}

#highlight_project_cards_wrapper {
  position: relative;
  height: 46rem;
}

#highlight_project_cards_wrapper > button {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 50%;
  height: calc(var(--min_unit) * 1.5);
  width: calc(var(--min_unit) * 1.5);
  color: var(--theme);
  font-size: 1.5em;
  background-color: var(--accent_tint);

  display: grid;
  place-items: center;

  transition: background-color 0.5s;
}

#highlight_project_cards_wrapper > button:hover,
#highlight_project_cards_wrapper > button:focus {
  background-color: var(--txt);
}

#highlight_project_cards_wrapper > button.clicked > i {
  animation: shrink_beat 0.5s ease-in-out 1;
}

#prev_project_btn {
  transform: translateX(-150%);
}

#next_project_btn {
  transform: translateX(50%);
}

#highlight_cards_carousel {
  --focused_card_width: calc(var(--max_unit) * 1.5);
  --unfocused_height_offset: 10%;
  --unfocused_X_right_offset: 75%;
  --unfocused_X_left_offset: calc(
    (var(--unfocused_X_right_offset) * -1 - 100%)
  );
  --delta_offest: 60%;
  --card_spacing: 20%;

  position: relative;
  height: 100%;
  width: 100%;

  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  transform: perspective(1000px);
}

#my_projects_showcase {
  position: relative;
  /* height: 100rem; */
  box-sizing: border-box;
  padding: 3rem 5%;
  /* background-color: #00ff0022; */
}

#my_projects_showcase > div {
  position: relative;
}

/* ------------------------------
OPTIMIZATION FOR TALL ASPECT RATIOS WITH MEDIUM SCREEN SIZES ||  TABLETS
------------------------------ */
@media only screen and (max-width: 1000px) {
  #my_projects_intro > div:nth-child(1) {
    padding: 0 10%;
    text-align: center;
  }

  #my_projects_intro > div:nth-child(1) > h1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #highlight_project_cards_wrapper {
    height: 42rem;
  }

  #highlight_cards_carousel {
    --unfocused_height_offset: 30%;
    --unfocused_X_right_offset: 10%;
  }
}

/* ------------------------------
OPTIMIZATION FOR TALL ASPECT RATIOS WITH SMALL SCREEN SIZES ||  SMARTPHONES
------------------------------ */
@media only screen and (max-width: 450px) {
  #my_projects_intro {
    padding: 1rem 0;
  }

  #my_projects_intro > div:nth-child(1) {
    padding: 2rem 5% 0 5%;
    text-align: center;
  }

  #highlight_project_cards_wrapper > button {
    height: calc(var(--min_unit) * 1.2);
    width: calc(var(--min_unit) * 1.2);
  }

  #highlight_cards_carousel {
    --unfocused_height_offset: 15%;
    --unfocused_X_right_offset: 30%;
  }
}
