#my_skillset_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#my_skillset_wrapper > div {
  flex: 0 0 auto;
  width: 100%;
}

#my_skillset_intro {
  display: flex;
  flex-flow: row nowrap;
  padding: 3rem 0;
  align-items: center;
}

#my_skillset_intro > div {
  flex: 1 0 50%;
  height: 100%;
  box-sizing: border-box;

  display: grid;
  align-items: center;
}

#my_skillset_intro > div:nth-child(1) {
  justify-items: center;
}

#my_skillset_intro > div:nth-child(2) {
  padding-right: 5%;
}

.skill_card {
  position: relative;
  color: var(--accent);
  cursor: pointer;

  transition: color 0.5s;
}

.skill_card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: calc(var(--min_unit) * 1.5);
  background-color: var(--accent);
  background: repeating-linear-gradient(
    -55deg,
    var(--accent_shade),
    var(--accent_shade) 10px,
    var(--accent_shade2) 10px,
    var(--accent_shade2) 20px
  );
  opacity: 0.2;

  transition: background-color 0.5s, height 0.5s;
}

.skill_card.active {
  color: var(--gray_shade);
}

.skill_card.active > div > h2::before {
  background-color: var(--txt);
  color: var(--theme);
}

.skill_card.active > div::before {
  background-color: var(--txt);
  height: calc(100%);
}

.skill_card.active > div::after {
  width: calc(100% - var(--min_unit) * 1.5);
}

.skill_card.active > div > h2 {
  color: var(--txt);
}

#skill_cards_wrapper > :not(div.active):hover > div > h2,
#skill_cards_wrapper > :not(div.active):focus > div > h2 {
  color: var(--accent_tint_trans);
}

#skill_cards_wrapper {
  padding-left: calc(var(--min_unit) / 2);
}

.skill_card > div::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 0;
  width: calc(var(--min_unit) * 1.5);
  background-color: var(--accent);

  transition: background-color 0.5s, height 0.5s;
}

.skill_card > div::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: calc(var(--min_unit) * 1.5);
  height: calc(var(--min_unit) * 1.5);
  height: 100%;
  width: 0;
  background-color: var(--accent_theme);

  transition: width 0.5s;
}

.skill_card:last-child > div {
  padding-bottom: 0;
}

.skill_card > div > h2 {
  position: relative;
  height: calc(var(--min_unit) * 1.5);
  width: max-content;
  display: grid;
  align-items: center;
  justify-items: start;
  color: var(--accent_shade);
  padding: 0 0 0 calc(var(--min_unit) * 2);

  transition: background-color 0.5s, color 0.5s;
}

.skill_card > div > h2::before {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 0.85em;
  content: attr(data-icon);
  top: 0;
  left: 0;
  height: calc(var(--min_unit) * 1.5);
  width: calc(var(--min_unit) * 1.5);
  background-color: var(--accent);
  color: var(--accent_tint);

  display: grid;
  place-items: center;

  transition: background-color 0.5s, color 0.5s;
}

.skill_card > div > p {
  padding: 1rem 1rem 2rem calc(var(--min_unit) * 2);
}

.skill_card > div > div:last-child {
  display: none;
}

#skill_cards_wrapper:last-child > div::before {
  border-radius: 0 0 var(--radius_lg) var(--radius_lg);
}

#skill_groups_wrapper {
  position: relative;
  height: calc(var(--max_unit) * 2);
  width: calc(var(--max_unit) * 2);
}

.skill_group {
  position: absolute;
  inset: 0;
  visibility: hidden;

  transition: visibility 0.25s;
}

.skill_group.active {
  visibility: visible;
}

.skill_group > .origin {
  height: calc(var(--min_unit) * 2);
  width: calc(var(--min_unit) * 2);
  box-shadow: 0 0 8rem 2rem var(--accent_tint);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.skill_group > .origin::before {
  font-family: "FontAwesome";
  content: attr(data-icon);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: calc(var(--min_unit) * 4);
  width: calc(var(--min_unit) * 4);
  background-color: var(--accent_shade);
  color: transparent;
  display: grid;
  place-items: center;
  font-size: 2em;

  transition: color 0.5s;
}

.skill_group.active > .origin::before {
  color: inherit;
}

.skill_group > .skill_tile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
    rotateZ(
      calc(
        (var(--skill_tile_index) - 1) * (360 / var(--skill_tile_count)) * 1deg
      )
    );
  height: calc(var(--min_unit) * 1);
  width: calc(var(--min_unit) * 1);
  border-radius: 100%;
  background-size: cover;

  transition: box-shadow 0.5s;
}

.skill_group > .skill_tile:hover,
.skill_group > .skill_tile:focus {
  box-shadow: 0 0 7rem 4rem rgba(var(--skill_tile_theme), 1);
}

.skill_group > .skill_tile:hover::before,
.skill_group > .skill_tile:focus::before {
  background-color: rgba(var(--skill_tile_theme), 1);
}

.skill_group > .skill_tile:hover::after,
.skill_group > .skill_tile:focus::after {
  background-color: rgba(var(--skill_tile_theme), 0.7);
  box-shadow: 0 0 3rem 0 rgba(var(--skill_tile_theme), 1);
}

.skill_group > .skill_tile::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 3px;
  height: 0;
  background-color: var(--accent_shade);
  transform: translateX(-50%);

  transition: height 0.25s;
}

.skill_group.active > .skill_tile::before {
  height: calc(var(--min_unit) * 6);
}

.skill_group > .skill_tile::after {
  content: attr(data-index);
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(var(--min_unit) * 3);
  width: calc(var(--min_unit) * 3);
  background-color: var(--accent_shade);
  background-image: inherit;
  background-size: cover;
  transform: translateY(-50%) translateX(-50%)
    rotateZ(
      calc(
        (var(--skill_tile_index) - 1) * (360 / var(--skill_tile_count)) * -1deg
      )
    );

  transition: transform 0.25s, background-color 0.25s, box-shadow 0.25s;
}

.skill_group.active > .skill_tile::after {
  transform: translateY(calc(var(--min_unit) * -8)) translateX(-50%)
    rotateZ(
      calc(
        (var(--skill_tile_index) - 1) * (360 / var(--skill_tile_count)) * -1deg
      )
    );
}

/* ------------------------------
OPTIMIZATION FOR TALL ASPECT RATIOS WITH MEDIUM SCREEN SIZES ||  TABLETS
------------------------------ */
@media only screen and (max-width: 1000px) {
  #my_skillset_intro {
    flex-flow: column nowrap;
    padding: 1rem 0;
  }

  #my_skillset_intro > div:nth-child(1) {
    display: none;
  }

  #my_skillset_intro > div:nth-child(2) {
    padding-right: unset;
  }

  #my_skillset_intro > div:nth-child(2) > h1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #skill_cards_wrapper {
    padding: 0 7%;
  }

  .skill_card::before {
    width: 0;
  }

  .skill_card > div::before {
    width: 0;
  }

  .skill_card > div::after {
    left: 0;
  }

  .skill_card.active > div::after {
    width: 100%;
  }

  .skill_card > div > p {
    padding: 1rem 1rem 2rem 1rem;
  }

  .skill_card > div > div:last-child {
    padding: 1rem 1rem 4rem 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }

  .skill_card > div > div:last-child > div {
    position: relative;
    height: var(--min_unit);
    padding: 0 1rem 0 calc(var(--min_unit) + 0.8rem);
    color: var(--accent_shade);
    font-weight: bold;
    background-color: #ffffff66;
    background-size: 0;
    filter: grayscale(100%);
    display: flex;
    align-items: center;

    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, filter 0.5s;
  }

  .skill_card.active > div > div:last-child > div {
    background-color: var(--color);
    box-shadow: 0 0 0.5rem 0.1rem var(--color);
    filter: grayscale(0);
    color: #fff;
  }

  .skill_card > div > div:last-child > div::before {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--min_unit));
    width: calc(var(--min_unit));
    z-index: 1;
    content: attr(title);
    content: "";
    background-image: inherit;
    background-size: calc(var(--min_unit)) calc(var(--min_unit));
    background-repeat: no-repeat;

    transition: background-color 0.5s;
  }

  .skill_card.active > div > div:last-child > div::before {
    background-color: #ffffffcc;
  }
}

/* ------------------------------
OPTIMIZATION FOR TALL ASPECT RATIOS WITH SMALL SCREEN SIZES ||  SMARTPHONES
------------------------------ */
@media only screen and (max-width: 450px) {
  #skill_cards_wrapper {
    padding: 0 0;
  }
}
